@model IEnumerable<bankapp.Models.member.Member>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
<style>
    .table,tr,td,th{
        color:white;
    }
</style>

<p>
    <a asp-action="Create"> Add Member </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipality.MunicipalityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ward.WardNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tole.ToleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-controller="Member" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Member" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Member" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
